@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather&family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'roboto slab', sans-serif;
    font-weight: 400; 
}

/* Logo and Nav*/

#logo{
    font-family: 'merriweather', sans-serif;
    font-size: 500%;
    font-weight: 600;
    text-align: center;
    margin: 25px 0 25px 0;
}

#menu{
    font-size: 150%;
    text-align: center;
}

#menu li{
    list-style-type: none;
    display: inline-block;
    width:33%;
    background-color: black;
    border-radius: 50px;
}

#menu a{
    text-decoration: none;
    color: white;
}

#menu a:hover{
    background-color: #00c0a2;
    color: black;
    width: 33%;
    display: inline-block;
    width: 100%;
    border-radius: 50px;
    transition: background-color ease-in-out 0.5s;
}

.active{
    text-decoration: underline;
    color: white;
}

/* About us */

#about-us{
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 50px;
}


#bgimg{
    background: url('../images/indoor-tennis.jpg') no-repeat center center;
    height: 600px;
    width: 100%;
    opacity: 0.9;
}

.text-box{
    width: 300px;
    height: 200px;
    padding: 10px 100px 200px 0;
    background-color: rgba(64, 46, 50, 1);
    top: 10px;
    left: 100px;
    position: absolute;
    color:#00c0a2;
    text-align: center;
    box-shadow: 25px 25px 10px;
  }


.text-box h2{
    font-size: 200%;
    text-align: center;
    padding-left: 70px;
    padding-bottom: 10px;
    text-decoration: underline;
}

.text-box p{
    padding-left: 80px;
}


