@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather&family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'roboto slab', sans-serif;
    font-weight: 400; 
    background-color: rgba(227, 126, 0, 0.03)
}

#bg{
    background: url('../images/what-we-offerbg.webp') no-repeat center center;
    height: 100%;
    width: 100%;
    background-size: 75%;
    background-attachment: fixed; 
}

/* Logo and Nav*/

#logo{
    font-family: 'Merriweather', sans-serif;
    font-size: 500%;
    font-weight: 600;
    text-align: center;
    margin: 60px 0 25px 0;
    text-transform: uppercase;
    text-decoration: underline;
}

#menu{
    font-size: 150%;
    text-align: center;
}

#menu li{
    list-style-type: none;
    display: inline-block;
    width:33%;
    background-color: black;
    border-radius: 50px;
    background-attachment: fixed;
}

#menu a{
    text-decoration: none;
    color: #f9f9f9;
}

nav{
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 10px;
}

#menu a:hover{
    background-color: #e37e00;
    color: black;
    width: 33%;
    display: inline-block;
    width: 100%;
    border-radius: 50px;
    transition: background-color ease-in-out 0.4s;
}

.active{
    text-decoration: 1.7px underline;
    color: black;
    background-color: #e37e00 !important;
    border: 1px solid black;
}

.active a{
    color: black !important;
}

/* About us */

#about-us{
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 50px;
}

#about-us-bg{
    background: url('../images/indoor-tennis.jpg') no-repeat center center;
    height: 600px;
    background-size: 80% 100%;
}

.about-text-box{
    width: 300px;
    height: 200px;
    padding: 10px 100px 300px 0;
    background-color: rgba(0, 0, 0, 0.9);
    top: 10px;
    left: 100px;
    position: absolute;
    color:black;
    text-align: center;
    box-shadow: 5px 5px 5px;
    border-radius: 10px;
  }

.about-text-box h2{
    font-size: 200%;
    text-align: center;
    padding-left: 70px;
    padding-bottom: 10px;
    text-decoration: underline;
    color: white;
    font-family: 'Merriweather', sans-serif;
}

.about-text-box p{
    padding-left: 50px;
    padding-top: 20px;
    color: white;
    letter-spacing: 2px;
    font-size: 110%;
    width: 100%;
}

/* What we offer */
#what-we-offer{
    height: 620px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: -50px;
}

.offer-text-box{
    width: 300px;
    height: 300px;
    padding: 100px;
    background-color: rgba(0, 0, 0, 0.9);
    left: 65%;
    top: 33px;
    position: absolute;
    color:black;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
}

.text{
    margin-top: -100px;
    color: white;
}

.offer-text-box h2{
    font-size: 200%;
    text-decoration: underline;
    color: white;
    padding: 25px 0 25px 0;
}

.offer-text-box p{
    font-size: 140%;
    width: 100%;
}

.list-border{
    padding: 20px 0 20px 0;
}

.offer-text-box a{
    color:#f9f9f9;
}

/* Book button */
.book-button{
    width:175px;
    height:75px;
    background-color: #e37e00;
    position: absolute;
    top: 475px;
    left: 33%;
    bottom: 50%;
    font-size: 150%;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 10px 10px 10px;
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;
    text-transform: uppercase; 
}

.book-button:hover{
    transform: scale(1.2);
    transition: transform .2s;
}

/* Opening times */
#opening-times{
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: -50px;
}

.opening-text-box{
    width: 300px;
    height: 300px;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.9);
    position: relative;
    color: black;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
    margin: 0 auto;
    top: 75px;
}

.opening-text-box table{
    color: white;
    font-size: 125%;
}

.opening-text-box h2{
    font-size: 200%;
    text-decoration: underline;
    color: white;
    padding: 5px 0 5px 0;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* video */
#vid{
    width: 50%;
    border: 4px solid black;
    box-shadow: 5px 5px 5px;
    right: 45%;
    position: absolute;
    border-radius: 10px;
    top: 25px;
}

/* footer */
footer{
    height: 150px;
    width: 100%;
    background-color: black;
    display: flex;
}

.footerbox{
    width: 33%;
    justify-content: space-around;
    color: white;
    text-align: center;
    padding-top: 10px;
}

.social-media{
    display: flex;
    margin-top: 10px;
}

.social-media li{
    list-style-type: none;
    line-height: 10px;
    margin: 0 auto;
}

.social-media a{
    color:white;
    font-size: 250%;
}

.social-media a:hover{
    color:#e37e00;
}

.footer-contact, .address, .follow{
    margin-top: 13px;
    font-size: 115%;
    letter-spacing: 2px;
}

/* Facilities tab */

#sports{
    width: 100%;
    height: 100%;
    display: grid;
    row-gap: 50px;
}

.sport-text-box{
    height: 300px;
    width: 75%;
    border-radius: 20px;
    background-color: rgba(0,0,0, 0.9);
    border: 5px solid black;
    box-shadow: 5px 5px 5px;
    font-family: 'Merriweather', sans-serif;
    
    margin: auto;
    margin-bottom: 75px;
    margin-top: 25px;
    padding-bottom: 40px;
}

.sportbox-text-style{
    color: white;
    text-decoration: underline;
    padding-top: 5px;
    overflow: hidden;
    text-align: center;
}

.sport-box-football{
    margin-top: 100px;
}

.sport-img{
    width: 40%;
    height: 100%;
    border-radius: 20px;
    border: 3px solid;
    margin-top: -30px;
    margin-left: -30px;
}

/* pictures for sport boxes */
.football{
    background: url("../images/outdoor-pitch.jpg") no-repeat center center;
    background-size: 100% 100%;
    float: left;
    box-shadow: 5px 5px 5px #e37e00;
}

.badminton{
    background: url("../images/tennis.jpg") no-repeat center center;
    background-size: 100% 100%;
    float: left;
    box-shadow: 5px 5px 5px #e37e00;
}

.squash{
    background: url("../images/squash.jpg") no-repeat center center;
    background-size: 100% 100%;
    float: left;
    box-shadow: 5px 5px 5px #e37e00;
}

.tabletennis{
    background: url("../images/table-tennis.jpg") no-repeat center center;
    background-size: 100% 100%;
    float: left;
    box-shadow: 5px 5px 5px #e37e00;
}

.booking-details{
    padding-top: 10px;
    color: white;
    font-family: 'roboto slab', sans-serif;
    font-size: 100%;
    margin-bottom: 25px;
    padding-right: 10px;
    padding-left: 40%;
    text-align: left;
}


/* Facility booking button*/
#form{
    height: 0px;
    width: 0px;
    display: contents;
}

.facility-booking{
    width: 150px;
    height: 50px;
    background-color: #e37e00;
    font-size: 125%;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 10px 10px 10px;
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    position: inherit;
    float: right;
}

.facility-booking:hover{
    transform: scale(1.2);
    transition: transform .2s;
 }

 /* Contact us tab */

 #information{
    width: 100%;
 }

/* LSC image */

#lsc{
    background: url('../images/sports-centre.jpg') no-repeat center center;
    background-size: 100% 100%;
    height: 400px;
    width: 700px;
    border-radius: 50%;
    margin: 0 auto;
    border: 2px solid;
    box-shadow: 2px 6px 2px #e37e00;
    position: relative;
}

.contact-text-box{
    width: 40%;
    height: 1275px;
    margin: 0 auto;
    margin-top: -200px;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 5px 5px 5px;
    border-radius: 10%;
    padding-right: 15px;
    padding-left: 15px;
}
    
/* contact us opening times */
.contact-center{
    font-size: 125%;
    position: relative;
    color: white;
    top: 220px;
    text-align: center;
}

#information h2{
    text-decoration: underline;
}

.opening, .mainaddress{
    margin-top: 30px;
}

.mainaddress{
    padding-right: 25px;
    padding-left: 25px;
}

/* iframes */
.maps{
    width: 100%;
    height: 300px;
}

/* form */
.email-form{
    padding-top: 10px;
    font-size: 90%;
}

#fullname, #email, #query, #choosesport, #bookingdate, #bookingtime{
    width: 50%;
    height: 24px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#query{
    height: 106px;
    resize: none;
    padding: 0 5px 0 5px;
}

#Submit{
    width: 40%;
    height: 30px;
    background-color: #e37e00; 
    font-size: 100%;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 10px 10px 10px;
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;
    text-transform: uppercase; 
}

/* booking page */
#bookingpage{
    width: 100%;
    height: 650px;
}

.booking-text-box{
    width: 30%;
    height: 400px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10%;
    top: 0px;
    padding-top: 50px;
}

#bookingdate, #bookingtime{
    text-align: center;
    font-size: 125%;
}

b{
    color: red;
    font-size: 80%;
}

#fullname, #email, #choosesport{
    padding-left: 5px;
    padding-right: 5px;
}

/* thank you for booking */
#thankyou{
    height:600px;
}

#checkmark{
    background: url(../images/checkmark.png) no-repeat center center;
    background-size: 60% 60%;
}

.thankyoubox{
    height: fit-content;
    width: 90%;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(0,0,0, 0.9);
    border: 5px solid black;
    font-family: 'Merriweather', sans-serif;
    
    margin: auto;
    margin-bottom: 75px;
    margin-top: 25px;
    padding-bottom: 100px;
    position: relative;
    top: 100px;

    font-size: 200%;
    color: white;
}

.thankyoubox h2{
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 70px;
}

/*Media Query for 1470px and below*/
@media screen and (max-width: 1470px) {

    .offer-text-box{
        left: 60%;
    }

    #lsc{
        width: 600px;
        height: 350px;
    }
 
}

/*Media Query for 1410px and below*/
@media screen and (max-width: 1410px){

    #menu li{
        width: 31%;
    }

    .facility-booking{
        width: 110px;
        font-size: 95%;
    }
}

/*Media Query for 1310px and below*/
@media screen and (max-width: 1310px){

    #lsc{
        width: 500px;
        height: 300px;
    }

    #about-us{
        height:650px;
    }

    #about-us-bg{
        height: 550px;
    }

    .about-text-box{
        padding-bottom: 255px;
    }

    .about-text-box p{
        padding-top: 10px;
    }

    #what-we-offer{
        height: 500px;
    }

    .offer-text-box{
        padding: 50px;
    }

    .book-button{
        width: 150px;
        height: 50px;
        top: 378px;
        left: 125px;
        font-size: 125%;
    }

    .text{
        margin-top: -70px;
    }

    footer{
        padding-bottom: 50px;
    }
}

/*Media Query for 985px and below*/
@media screen and (max-width: 985px){

    #logo{
        font-size: 350%;
    }

    /* Home page */
    .offer-text-box{
        margin: 0 auto;
        right: 0px;
        left: 0px;
        bottom: 0px;
        top: 0px;
    }

    .about-text-box{
        padding-bottom: 110px;
        padding-top: 5px;
        left: 50px;
        padding-right: 25px;
        padding-left: 25px;
        top: 50px;
    }

    .about-text-box p{
        padding-left: 0px;
        padding-top: 2.5px;
        font-size: 90%
    }

    .contact-text-box{
        padding-bottom: 25px;
    }

    .about-text-box h2{
        padding-left: 0px;
    }

    #about-us{
        height: 550px;
    }

    #about-us-bg{
        height: 450px; 
    }

    #what-we-offer{
        height: 800px;
    }

    .booking-text-box{
        padding-left: 25px;
        padding-right: 25px;
    }

    #vid{
        left: 0px;
        bottom: 0px;
        right: 0px;
        top: 0px;
        display: block;
        margin: auto;
        margin-top: 450px;
        height: auto;
        width: 500px;
    }

    /*Contact us*/
    #lsc{
        width: 450px;
        height: 250px;
    }

    .contact-center{
        font-size: 116%;
    }

    /*Footer*/
    #fullname, #email, #choosesport, #bookigdate, #bookingtime{
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer-contact, .address, .follow{
        font-size: 100%;
    }

    /* Facility page */
    .sportbox-text-style{
        padding-left: 0px;
        font-size: 120%;
    }

    .facility-booking{
        width: 110px;
        font-size: 95%;
    }

    .booking-details{
        font-size: 95%;
    }

    .sport-text-box{
        padding-bottom: 0px;
        height: auto;
        margin-bottom: 50px;
    }

    .sport-img{
        height: 250px;
    }

    /* Thank you pages */
    .thankyoubox{
        font-size: 180%;
        top: 50px;
    }
}

/*Media Query for 530px and below*/
@media screen and (max-width: 530px){

    /*Home page*/

    #logo{
        font-size:  250%;
    }

    #menu{
        font-size: 120%;
    }

    #about-us-bg{
        background-size: 100%;
        margin-top: 100px;
    }

    #about-us{
        margin-top: 0px;
    }

    .about-text-box{
        position: relative;
        margin: 0 auto;
        right: 0px;
        left: 0px;
        padding-top: 10px;
        padding-bottom: 40px;
        bottom: 550px;
        top: -500px;
        font-size: 80%;
    }

    .offer-text-box{
        padding-bottom: 10px;
        padding-right: 20px;
        padding-left: 20px;
        font-size: 90%;
    }

    #vid{
        width: 90%;
        height: auto;
    }

    .opening-text-box{
        top: 40px;
    }

    .footer-contact, .address, .follow{
        font-size: 60%;
    }

    .book-button{
        position: relative;
        margin: 0 auto;
        margin-top: 0px;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        margin-top: 10px;
    }

    /* Facility page */
    .sport-img{
        width: 200px;
        height: 200px;
        left: 0px;
        bottom: 0px;
        top: -100px;
        float: none;
        position: relative;
        margin: 0 auto;
    }

    .sportbox-text-style{
        margin-top: -90px;
    }

    .booking-details{
        padding-left: 10px;
        position: absolute;
        padding-right: 0px;
        margin-right: 70px;
    }

    .facility-booking{
        margin-top: 300px;
        margin-right: 145px;

    }

    .sport-text-box{
        margin-bottom: 80px;
        height: max-content;
        padding-bottom: 0px;
        font-size: 95%;
    }

    /* Contact Us page */
    #lsc{
        width: 90%;
    }

    .contact-text-box{
        width: 70%;
        font-size: 90%;
    }

    #fullname, #email, #query, #choosesport, #bookingdate, #bookingtime{
        width: 70%;
    }

    .booking-text-box{
        width: 70%;
    }

    /* Thank you pages */
    .thankyoubox{
        font-size: 150%;
    }

    /* Footer */    
    footer{
        padding-bottom: 0px;
    }
}